<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2>
          404 Not Found</h2>
        <div class="error-details">
          Desculpe, mas não encontrado nenhuma página para url solicitada!!!
        </div>
        <div class="error-actions">
          <a routerLink="/intranet" class="btn btn-primary btn-lg"><span
                  class="glyphicon glyphicon-home"></span>
            Página de Início </a>
        </div>
      </div>
    </div>
  </div>
</div>